# Sarvam AI API Key for Speech-to-Text capability in Indian languages
# Generate this at https://developer.sarvam.ai/
EXPO_PUBLIC_SARVAM_API_KEY=your_sarvam_api_key_here

# Backend API URL
EXPO_PUBLIC_API_BASE_URL=YOUR_BACKEND_URL      # http://<YOUR_LOCAL_IP>:8000  (for testing in local)

